@model List<TrashCollection.Models.AddressModels>
@{
    ViewBag.Title = "Account";
}
<h2>Account</h2>
@Html.ActionLink("Add Address", "AddAddress", "Customer")
@if (Model.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var address in Model)
            {
                <tr>
                    <td>@address.addressLine</td>
                    <td>@Html.ActionLink("Remove", "Delete", "Customer", new { id = address.ID }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div><p>You currently have no addresses. Please click the 'Add Address' button to add an address.</p></div>
}

